@import "tailwindcss";

:root {
  --black: #000000;
  --white: #ffffff;
  --gray: #999999;
  --dim: rgba(255,255,255,0.06);
  --D: 'Unbounded', sans-serif;
  --M: 'Space Mono', monospace;
  --B: 'DM Sans', sans-serif;
  --ease: cubic-bezier(0.22, 1, 0.36, 1);
}

/* Light Mode Variables  */
.light {
  --black: #ffffff;
  --white: #000000;
  --gray: #666666;
  --dim: rgba(0,0,0,0.06);
}

@theme inline {
  --color-background: var(--black);
  --color-foreground: var(--white);
  --font-sans: var(--B);
  --font-mono: var(--M);
}

body {
  background: var(--black);
  color: var(--white);
  font-family: var(--B);
  overflow-x: hidden;
  transition: background 0.4s ease, color 0.4s ease; /* Smooth transition */
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}
